{% extends 'base.html.twig' %}

{% block title %}{{ 'profile.change_password'|trans }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">
        <div class="card shadow-sm mt-4">
            <div class="card-body p-4">
                <h1 class="h4 card-title mb-4">{{ 'profile.change_password'|trans }}</h1>
                {{ form_start(form, {'attr': {'novalidate': true}}) }}
                    {{ form_row(form.plainPassword) }}
                    <div class="d-flex gap-2 mt-3">
                        <button type="submit" class="btn btn-primary">{{ 'action.save'|trans }}</button>
                        <a href="{{ path('app_profile') }}" class="btn btn-outline-secondary">{{ 'action.cancel'|trans }}</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
