{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.check_email.heading'|trans }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm mt-4">
            <div class="card-body p-4 text-center">
                <h1 class="h4 card-title mb-4">{{ 'reset_password.check_email.heading'|trans }}</h1>
                <p>{{ 'reset_password.check_email.instructions'|trans({'%expiry%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}</p>
                <a href="{{ path('app_login') }}" class="btn btn-outline-secondary mt-2">
                    {{ 'nav.login'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
