{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.reset.heading'|trans }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">
        <div class="card shadow-sm mt-4">
            <div class="card-body p-4">
                <h1 class="h4 card-title mb-4">{{ 'reset_password.reset.heading'|trans }}</h1>

                {{ form_start(resetForm, {'attr': {'novalidate': true}}) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-primary">
                            {{ 'reset_password.reset.submit'|trans }}
                        </button>
                    </div>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
