{% extends 'auth_base.html.twig' %}

{% block title %}{{ 'reset_password.reset.heading'|trans }}{% endblock %}

{% block body %}
<div class="auth-card">

    <div class="auth-header">
        <div class="auth-app-name">Compendium</div>
        <div class="auth-app-sub">{{ 'reset_password.reset.heading'|trans }}</div>
    </div>

    {{ form_start(resetForm, {'attr': {'class': 'auth-form', 'novalidate': true}}) }}

        {{ form_row(resetForm.plainPassword) }}

        <button type="submit" class="btn btn-primary auth-submit-btn">
            {{ 'reset_password.reset.submit'|trans }} →
        </button>

    {{ form_end(resetForm) }}

</div>
{% endblock %}
