{% extends 'base.html.twig' %}

{% block title %}{{ 'reading.entry.add'|trans }}{% endblock %}

{% block body %}
<h1 class="h3 mb-1">{{ 'reading.entry.add'|trans }}</h1>

{# Read-only work context #}
<div class="card mb-4 bg-light border-0">
    <div class="card-body py-2">
        <strong>{{ work.title }}</strong>
        {% if work.authors is not empty %}
            <span class="text-muted ms-2">
                by {{ work.authors|map(a => a.name)|join(', ') }}
            </span>
        {% endif %}
        <span class="badge bg-secondary ms-2">{{ work.type.value }}</span>
    </div>
</div>

{{ form_start(form, {'attr': {'novalidate': true}}) }}

<div class="row g-3">
    <div class="col-12">
        {{ form_row(form.status) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.dateStarted) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.dateFinished) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.lastReadChapter) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.reviewStars) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.spiceStars) }}
    </div>
    <div class="col-12">
        {{ form_row(form.mainPairing) }}
    </div>
    <div class="col-12">
        {{ form_row(form.comments) }}
    </div>
    <div class="col-12">
        {{ form_row(form.starred) }}
    </div>
</div>

<div class="d-flex gap-2 mt-3">
    <button type="submit" class="btn btn-primary">{{ 'action.save'|trans }}</button>
    <a href="{{ path('app_reading_entry_list') }}" class="btn btn-outline-secondary">{{ 'action.cancel'|trans }}</a>
</div>

{{ form_end(form) }}
{% endblock %}
